@charset "UTF-8";
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

a,
a:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  /* убиваем нижние отступы! */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #2196f3;
}

.logo:visited {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.social-icon--dark {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social-icon:hover, .social-icon:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header__wrapper {
    position: relative;
    z-index: 666;
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .page-header__wrapper .mobile-button {
    display: none;
  }
}

.mobile-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 10px 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-button:focus, .mobile-button:hover {
  overflow: hidden;
  fill: #2196f3;
}

.mobile-button__close {
  display: none;
}

.mobile-button.is-open .mobile-button__close {
  display: block;
}

.mobile-button.is-open .mobile-button__open {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    width: calc(100% + 30px);
    padding: 60px 0;
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #ececec;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .mobile-wrapper.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    white-space: nowrap;
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    white-space: nowrap;
    margin-right: 85px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__nav {
    margin-right: auto;
  }
}

.nav-list {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-list > li > a {
  position: relative;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.nav-list a:hover,
.nav-list a:focus {
  color: #2196f3;
}

.nav-list .active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav-list {
    font-size: 18px;
    line-height: 1.17;
  }
  .nav-list > li:not(:last-child) {
    margin-bottom: 28px;
  }
  .nav-list > li > a {
    display: inline-block;
    line-height: 33px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list > li:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list > li > a {
    display: block;
    line-height: 80px;
  }
}

.header-contacts a {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contacts > li:not(:last-child) {
    margin-bottom: 16px;
  }
  .header-contacts a {
    display: inline-block;
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts > li:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-contacts a {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-contacts > li:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contacts__icon {
  padding-right: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 1199px) {
  .header-contacts__icon {
    padding-right: 8px;
  }
}

.section-hero {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/decor/img/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/decor/img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero h1 {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-hero a {
  display: inline-block;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .section-hero {
    margin-bottom: 60px;
    padding: 118px 0;
  }
  .section-hero h1 {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    margin-bottom: 94px;
    padding: 200px 0;
  }
  .section-hero h1 {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 1199px) {
  .section-skills {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-skills {
    margin-bottom: 94px;
  }
}

.skills-list p {
  margin: 0;
  line-height: 1.71;
}

.skills-list h3 {
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .skills-list > li {
    display: block;
  }
  .skills-list h3 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-list > li {
    width: calc((100% - 30px) / 2);
  }
  .skills-list > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .skills-list > li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }
  .skills-list > li {
    width: calc((100% - 120px) / 4);
    margin: 0 15px;
  }
}

.skills-list__svg {
  margin-bottom: 30px;
  padding: 25px 0;
  line-height: 0;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.section-works {
  margin-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-works {
    display: none;
  }
}

.section-works h2 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #212121;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.works-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 15px;
}

.works-list__descr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-list__descr h3 {
  text-align: center;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .section-team {
    margin-bottom: 60px;
    padding: 60px 0;
  }
  .section-team h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    margin-bottom: 94px;
    padding: 94px 0;
  }
  .section-team h2 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #212121;
  }
}

.team-list img {
  width: 100%;
}

.team-list h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: #212121;
}

.team-list p {
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list > li {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list > li {
    display: block;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team-list > li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-list > li {
    width: calc((100% - 30px) / 2);
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team-list > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-list > li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }
  .team-list > li {
    margin: 0 15px;
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  }
}

.team-list__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
  margin: 0 -5px;
}

.team-list__social > li {
  margin: 0 5px;
}

@media screen and (max-width: 1199px) {
  .section-clients {
    margin-bottom: 60px;
  }
  .section-clients h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .section-clients {
    margin-bottom: 94px;
  }
  .section-clients h2 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #212121;
  }
}

@media screen and (max-width: 767px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients-list > li {
    width: calc((100% - 30px) / 2);
  }
  .clients-list > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients-list > li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients-list > li {
    width: calc((100% - 60px) / 3);
  }
  .clients-list > li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-list > li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }
  .clients-list > li {
    width: 170px;
    margin: 0 15px;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.page-footer {
  padding: 60px 0px;
  background-color: #2f303a;
}

.page-footer b {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-left {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-left {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    width: 300px;
  }
}

.footer-left__logo {
  margin-bottom: 20px;
}

.footer-contacts {
  font-style: normal;
  line-height: 1.71;
}

.footer-contacts__list p {
  margin: 0;
  color: #ffffff;
}

.footer-contacts__list a {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer-contacts__list > li:not(:last-child) {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts__list > li:not(:last-child) {
    padding-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-center {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-center {
    margin-top: 12px;
    margin-right: auto;
  }
}

.footer-follow-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -5px;
  margin-right: -5px;
}

.footer-follow-me > li {
  margin: 0 5px;
}

@media screen and (max-width: 1199px) {
  .footer-right {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-right {
    margin-top: 12px;
  }
}

@media screen and (max-width: 767px) {
  .form-subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-subscribe-input {
  padding: 14px 16px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media screen and (max-width: 1199px) {
  .form-subscribe-input {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe-input {
    width: 358px;
  }
}

.form-subscribe-input:focus {
  outline: none;
  border-color: #2196f3;
  cursor: text;
}

.form-subscribe-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  padding: 10px 28px;
  cursor: pointer;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .form-subscribe-submit {
    margin-left: auto;
    margin-right: auto;
  }
}

.form-subscribe-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.form-subscribe-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
    overflow-y: scroll;
  }
}

.modal {
  border-radius: 4px;
  padding: 40px;
}

.modal h2 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #212121;
  margin-bottom: 12px;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .modal {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .modal h2 {
    line-height: 1.5;
  }
  .backdrop.is-hidden .modal {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    max-height: 100%;
    overflow: auto;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .modal h2 {
    line-height: 1.5;
  }
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  }
  .modal h2 {
    line-height: 1.15;
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn-close:hover, .btn-close:focus {
  fill: #2196f3;
}

/* Modal */
.textarea-wrapper {
  position: relative;
  height: 120px;
}

.form-callback {
  padding-top: 18px;
}

.form-callback-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-callback-input {
  width: 100%;
  margin: 0;
  padding: 12px 18px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-callback-input:focus {
  outline: none;
  border-color: #2196f3;
}

.form-callback-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-callback-input:focus ~ .form-callback-icon {
  fill: #2196f3;
}

.form-callback-icon--checkbox {
  display: inline-block;
  min-width: 16px;
  min-height: 15px;
  cursor: pointer;
  border: 2px solid;
  border-color: #212121;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-callback-checkbox--input:focus ~ .form-callback-icon--checkbox {
  border: 2px solid #2196f3;
  border-radius: 2px;
}

.form-callback-checkbox--input:checked ~ .form-callback-icon--checkbox {
  background-color: #2196f3;
  background-image: url("../images/decor/svg/src/check-full.svg");
  background-size: contain;
  background-origin: border-box;
  border: 2px solid;
  border-color: transparent;
}

.form-callback-label {
  position: absolute;
  top: 50%;
  left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  -webkit-transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-callback-input:focus ~ .form-callback-label,
.form-callback-input:not(:placeholder-shown) ~ .form-callback-label {
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  -webkit-transform: translate(-23px, -40px);
          transform: translate(-23px, -40px);
}

.form-callback-textarea {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 1.14;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-callback-textarea:focus {
  cursor: text;
  outline: none;
  border-color: #2196f3;
}

.form-callback-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translate(16px, 12px);
          transform: translate(16px, 12px);
  -webkit-transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-callback-textarea:focus ~ .form-callback-text,
.form-callback-textarea:not(:placeholder-shown) ~ .form-callback-text {
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  -webkit-transform: translate(17px, -19px);
          transform: translate(17px, -19px);
}

.form-callback-text--checkbox {
  margin-left: 7px;
  margin-right: 4px;
  cursor: pointer;
}

.form-callback-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-callback-checkbox--input {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-callback-checkbox a {
  color: #2196f3;
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  .form-callback-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
  }
  .form-callback-checkbox a {
    white-space: nowrap;
  }
}

.form-callback-submit {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.06em;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-callback-submit:hover, .form-callback-submit:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 1199px) {
  .section-portfolio {
    margin: 60px auto;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    margin: 94px auto;
  }
}

.section-portfolio p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .portfolio-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio-filter__item {
  padding: 6px 22px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f5f4fa;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__item:hover, .portfolio-filter__item:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .portfolio-filter__item {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list > li {
    display: block;
  }
  .portfolio-list > li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-list > li {
    width: calc((100% - 30px) / 2);
  }
  .portfolio-list > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .portfolio-list > li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-list > li {
    width: calc((100% - 60px) / 3);
  }
  .portfolio-list > li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio-list > li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfolio-list > li > a {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.portfolio-list > li > a:hover, .portfolio-list > li > a:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__img {
  position: relative;
}

.portfolio-list__img img {
  width: 100%;
}

.portfolio-list__p {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media screen and (max-width: 767px) {
  .portfolio-list__p {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list__p {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__p {
    padding: 63px 24px;
  }
}

.portfolio-list__p p {
  display: block;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-list > li > a:hover .portfolio-list__p,
.portfolio-list > li > a:focus .portfolio-list__p {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.portfolio-list__text {
  position: relative;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: #ffffff;
}

.portfolio-list__text h2 {
  max-height: 36px;
  overflow: hidden;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list__text p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */