.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $containerMobileWidth) {
    width: $containerMobileWidth;
  }
  @media screen and (min-width: $containerTabletWidth) {
    width: $containerTabletWidth;
  }
  @media screen and (min-width: $containerMaxWidth) {
    width: $containerMaxWidth;
  }
}
