.logo {
  @media screen and (min-width: 1200px) {
    display: inline-block;
    font-family: $fontFamilyLogo;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: $actualColorText;
    &:visited {
      color: $actualColorText;
    }
  }
}
.logo--black {
  @media screen and (min-width: 1200px) {
    color: $secondColorText;
  }
}
.logo--white {
  @media screen and (min-width: 1200px) {
    color: $whiteIndex;
  }
}
