// Section Team
.section-team {
  background-color: $bgSecond;

  @media screen and (max-width: $containerMaxWidth - 1px) {
    margin-bottom: 60px;
    padding: 60px 0;

    & h2 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.18;
      color: $headsColorText;
    }
  }

  @media screen and (min-width: $containerMaxWidth) {
    margin-bottom: 94px;
    padding: 94px 0;

    & h2 {
      @include headH2();
    }
  }
}

.team-list {
  & h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: $fontSizeSecond;
    font-weight: 500;
    line-height: 1.19;
    color: $headsColorText;
  }
  & p {
    margin: 0;
    font-size: $fontSizeSecond;
    line-height: 1.19;
    text-align: center;
  }
  & > li {
    background-color: $whiteIndex;
    border-radius: 0px 0px 4px 4px;
  }
  @media screen and (max-width: $containerTabletWidth - 1px) {
    & > li {
      display: block;

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    & > li:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $containerTabletWidth) and (max-width: $containerMaxWidth - 1px) {
    display: flex;
    flex-wrap: wrap;

    & > li {
      width: calc((100% - 30px) / 2);

      background: #ffffff;

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    & > li:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    & > li:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $containerMaxWidth) {
    display: flex;
    margin: 0 -15px;

    & > li {
      margin: 0 15px;

      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
    }
  }
}

.team-list__social {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
  margin: 0 -5px;

  & > li {
    margin: 0 5px;
  }
}
