// Section What's Do
.section-works {
  @media screen and (max-width: $containerMaxWidth - 1px) {
    display: none;
  }

  margin-bottom: 94px;

  & h2 {
    @include headH2();
  }
}
.works-list {
  display: flex;
  margin: 0 -15px;

  & > li {
    display: flex;
    position: relative;
    margin: 0 15px;
  }
}
.works-list__descr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: $worksDescrBg;

  & h3 {
    text-align: center;
    color: $whiteIndex;
  }
}
