// Section Hero
.section-hero {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: $secondColorText;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url('../images/decor/img/hero/hero.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/decor/img/hero/hero@2x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/decor/img/hero/hero@3x.jpg');
  }

  @media screen and (min-width: $containerMobileWidth + 1px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/decor/img/hero/hero-tabl.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 2dppx),
      screen and (min-resolution: 192dpi) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
        url('../images/decor/img/hero/hero-tabl@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 3dppx),
      screen and (min-resolution: 288dpi) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
        url('../images/decor/img/hero/hero-tabl@3x.jpg');
    }
  }

  @media screen and (min-width: $containerTabletWidth + 1px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/decor/img/hero/hero-desk.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 2dppx),
      screen and (min-resolution: 192dpi) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
        url('../images/decor/img/hero/hero-desk@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 3dppx),
      screen and (min-resolution: 288dpi) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
        url('../images/decor/img/hero/hero-desk@3x.jpg');
    }
  }

  & h1 {
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $whiteIndex;
  }

  & a {
    display: inline-block;
    padding: 10px 32px;

    font-size: $fontSizeSecond;
    line-height: 1.88;
    font-weight: 700;
    letter-spacing: $letterSpacing06;

    background-color: $actualColorText;
    color: $whiteIndex;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: $containerMaxWidth - 1px) {
    margin-bottom: 60px;
    padding: 118px 0;

    & h1 {
      font-size: 26px;
      line-height: 1.62;
    }
  }

  @media screen and (min-width: $containerMaxWidth) {
    margin-bottom: 94px;
    padding: 200px 0;

    & h1 {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
