body {
  @media screen and (min-width: 1200px) {
    font-family: $fontFamilyMain;
    font-size: $fontSizeMain;
    letter-spacing: $letterSpacingMain;
    background-color: $whiteIndex;
    color: $colorTextMain;
  }
}
a,
a:visited {
  @media screen and (min-width: 1200px) {
    text-decoration: none;
  }
}
ul {
  @media screen and (min-width: 1200px) {
    @include listReset();
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @media screen and (min-width: 1200px) {
    margin: 0;
    text-align: center;
  }
}
img {
  display: block; /* убиваем нижние отступы! */
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  @media screen and (min-width: 1200px) {
    width: $containerMaxWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
