body {
  font-family: $fontFamilyMain;
  font-size: $fontSizeMain;
  letter-spacing: $letterSpacingMain;
  background-color: $whiteIndex;
  color: $colorTextMain;
}
a,
a:visited {
  text-decoration: none;
}
ul {
  @extend %listReset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}
// h2 {
//   font-size: 36px;
//   line-height: 1.67;
//   font-weight: 700;
//   color: var(--heads-color-text);
// }
img {
  display: block; /* убиваем нижние отступы! */
}
.container {
  width: $containerMaxWidth;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
