$fontFamilyMain: 'Roboto', sans-serif;
$fontFamilyLogo: 'Raleway', sans-serif;

$fontSizeMain: 14px;
$fontSizeSecond: 16px;
$fontSizeThird: 18px;
$fontSizeTabletContacts: 12px;
$letterSpacingMain: 00.03em;
$letterSpacing01: 00.01em;
$letterSpacing02: 00.02em;
$letterSpacing06: 00.06em;

$containerMaxWidth: 1200px;
$containerTabletWidth: 768px;
$containerMobileWidth: 480px;

$colorTextMain: #757575;
$actualColorText: #2196f3;
$secondColorText: #000000;
$headsColorText: #212121;
$whiteIndex: #ffffff;
$borderBottomColorHeader: #ececec;
$footerBgColor: #2f303a;
$footerMainColor: rgba(255, 255, 255, 0.6);
$footerSocialBg: rgba(255, 255, 255, 0.1);
$footerInputBorderColor: rgba(255, 255, 255, 0.3);
$socialSvgColor: #afb1b8;
$bgSecond: #f5f4fa;
$worksDescrBg: rgba(47, 48, 58, 0.8);
$backdropBg: rgba(0, 0, 0, 0.2);
$btnCloseBorderColor: rgba(0, 0, 0, 0.1);
$modalInputBorderColor: rgba(33, 33, 33, 0.2);
$modalSubmitHoverBg: #188ce8;
$portfolioParagrBg: rgba(33, 150, 243, 0.9);
$portfolioItemBorderColor: #eeeeee;

$timeTransition: 250ms;
$cubeRubiks: cubic-bezier(0.4, 0, 0.2, 1);
$timeDelay: 0ms;
